<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        
        @Html.Action("SideBarPartial", "Home")
        
        
        
        @Html.Partial("_ActiveApplicationsMenus")
        



    </div>
</nav>